In [ ]:
print("Hello World")

Hello World

In [2]:
num = int(input('Enter a number:'))
if num % 2 == 0:
    print(f'{num} is even')
else:
     print(f'{num} is odd')

2 is even

In [6]:
radius = float(input("Enter a number:"))
Area = 3.14 * radius * radius
print(f"Area of circle is {Area}")

Area of circle is 50.24

In [8]:
a = input("Enter a word:")
n = int(input('Enter a number:'))
print(a * n)

hellohellohellohellohello

In [22]:
a = int(input("Enter a Number :"))
b = int(input('Enter a number :'))
c = (input())
print((str(a)*a) + c + (str(b)*b))

666666&4444

In [23]:
a = int(input('Enter a number:'))
b = int(input('Enter a number:'))
print(max(a,b))

45

In [26]:
n = int(input("Enter the number:"))
fact = 1

for i in range(1, n+1):
    fact *= i
print(fact)

24

In [31]:
import math

def factorial(num):
    return(math.factorial(num))

num = int(input("Enter a number:"))
print(factorial(num))

24

In [32]:
principal = int(input("Enter a number:"))
Time = int(input('Enter a number:'))
Rate = int(input("Enter a Number:"))

SI = (principal*Time*Rate)/100

print(f"The Simple Interest is {SI}")

The Simple Interest is 3.84

In [33]:
def fun(p,t,r):
    return (p*t*r)/100
p,t,r = 8,6,8
result = fun(p,t,r)

print(result)

3.84

In [36]:
p = float(input("Enter a number:"))
T = float(input('Enter a number:'))
R = float(input("Enter a Number:"))

Amount = p * (1 + R/100)**T
CI = Amount - p
print(f"The Compound Interest is {CI}")

The Compound Interest is 6288.946267774416

In [39]:
def compound_interest(p,r,t):
    
    Amount = p * (1 + r/100)**t
    CI = Amount - p
    print("Compound Interest", CI)

p = float(input("Enter a number"))
r = float(input("Enter a number"))
t = float(input("Enter a number"))
compound_interest(p,r,t)

Compound Interest 6288.946267774416

In [30]:
def is_armstrong(num):
    num_str = str(num)
    n = len(num_str)
    sum = 0
    for digit in num_str:
        sum += int(digit)**n
    if sum == num:
        return True
    else:
        return False
num = int(input("Enter a number:"))
print(f"{num} is_armstrong")

151 is_armstrong

In [3]:
num = int(input("Enter a number:"))

if num <= 1:
    print(f"{num} is not a prime number")
else:
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            print(f"{num} is not a prime number")
            break
        else:
            print(f"{num} is a prime number")

7 is a prime number

In [4]:
i = 10
for i in range(0,9,2):
    print(i)

0
2
4
6
8

In [7]:
n = 'Aizen'
for i in range(5):
    print(n)

Aizen
Aizen
Aizen
Aizen
Aizen

In [28]:
n = int(input("Enter a number:"))
for n in range(1,n):
    if n % 2 == 0:
     print(n)

In [78]:
i = 1
while i < 11:
    print(i, end = ' ')
    i += 1

1 2 3 4 5 6 7 8 9 10

In [37]:
basic_salary = float(input("Enter a number:"))
tda = (10/100) * basic_salary
hra = (5/100) * basic_salary
net_salary = basic_salary + tda + hra
print(net_salary)

17250.0

In [52]:
n = int(input("Enter a number:"))
temp = n # it stores the value of n for further use
rev = 0 # it stores the reversed value

while(n>0):
    dig = n%10
    rev = rev*10 + dig
    n = n//10
if (temp == rev):
    print(f"{temp} is palindrome")
else:
    print(f"{temp} is not palindrome")

123 is not palindrome

In [56]:
char = input("Enter a Character:")
if char.lower() == 'a' or char.lower() == 'e' or char.lower() == 'i' or char.lower() =='o' or char.lower() == 'u':
    print(f"{char} Character is Vowel")
else:
    print(f"{char} Charcter is consonent")

s Charcter is consonent

In [72]:
n = int(input("Enter a Number:"))
temp = n
sum = 0

while (temp> 0):
    dig = temp % 10
    sum += dig**3
    temp = temp//10
if (n ==  sum):
    print(f"{n} is_armstrong")
else:
    print(f"{n} is not armstrong")

153 is_armstrong

In [76]:
name = 'Aizen'
i = 5
while i > 0:
    print(name)
    i -= 1

Aizen
Aizen
Aizen
Aizen
Aizen

In [81]:
n = int(input("Enter a number:"))

a = 0
b = 1
count = 0

print("Fibonacci Series")

while (count < n):
    print(a, end = " ")
    a, b = b, a + b
    count += 1

Fibonacci Series
0 1 1 2 3 5 8

In [82]:
n , m = 4, 3
a = 0
b = 1
count = 0

while True :
    a, b = b, a + b

    if b % m == 0:
        count += 1

        if count == n:
            print(b)
            break

987

In [90]:
c = 'B'

print("The ASCII value of '" + c + "' is", ord(c))

The ASCII value of 'B' is 66

In [ ]:
#Sum of squares of first N natural numbers 

n = 5
total = 0
for i in range(1, n+1):
    total += i * i
print(total)

55

In [110]:
n = 5
res = n * (n+1) * (2*n + 1) // 6
print(res)

55

In [113]:
## Python Program for cube sum of first n natural numbers

n = 5
res = (n * (n + 1) // 2) ** 2
print(res)

225

In [114]:
#Sum of squares of first N natural numbers 

n = 5
total = 0
for i in range(1, n+1):
    total += i ** 3
print(total)

225

In [120]:
## Calculator program

num1 = float(input("Enter a Number:"))
num2 = float(input("Enter a number"))
Operator = input("Enter a Operator")

if Operator == '+':
    result = num1 + num2
elif Operator == '-':
    result = num1 - num2
elif Operator == '*':
    result = num1 * num2
elif Operator == '/':
    if num2 != 0:
        result = num1 / num2
    else:
         result = "Error! Division by zero"
else:
    result = 'Invalid Operator'

print('Result', result)

Result 5.0

In [122]:
rows = 4
num = 1

for i in range(1, rows + 1):
    for j in range(1, i + 1):
        print(num, end = " ")
        num += 1
    print()

1
2 3
4 5 6
7 8 9 10

In [127]:
rows = 5
num = '*'
for i in range(1, rows + 1):
    for j in range(1, i + 1):
        print('*', end = " ")  
    print()

*
* *
* * *
* * * *
* * * * *

**LIST**

In [ ]:
apps = ['Instagram', 'Youtube', 'whatsapp','Chatgpt']
print(apps)

['Instagram', 'Youtube', 'whatsapp', 'Chatgpt']

In [131]:
num = [1,2,3,4,5,6,7,8,9]
print(num)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
apps = ['Instagram', 'Youtube', 'whatsapp','Chatgpt', 'Facebook', 'Canva', 'Music','Spotify']
print(apps[0:8:2]) ## (START:STOP:Space)

[]

In [157]:
apps = ['Instagram', 'Youtube', 'whatsapp','Chatgpt', 'Facebook', 'Canva', 'Music','Spotify']
print(apps[7::-1]) ## (START:STOP:Space)

['Spotify', 'Music', 'Canva', 'Facebook', 'Chatgpt', 'whatsapp', 'Youtube', 'Instagram']

In [158]:
apps = ['Instagram', 'Youtube', 'whatsapp','Chatgpt', 'Facebook', 'Canva', 'Music','Spotify']
print(apps[7:0:-1]) ## (START:STOP:Space)

['Spotify', 'Music', 'Canva', 'Facebook', 'Chatgpt', 'whatsapp', 'Youtube']

In [167]:
apps = ['Instagram', 'Youtube', 'whatsapp','Chatgpt', 'Facebook', 'Canva', 'Music','Spotify', 'Play Store']
print(apps[1:]) ## (START:STOP:Space)
print(apps[:5:2])
print(apps[5:9])

['Youtube', 'whatsapp', 'Chatgpt', 'Facebook', 'Canva', 'Music', 'Spotify', 'Play Store']
['Instagram', 'whatsapp', 'Facebook']
['Canva', 'Music', 'Spotify', 'Play Store']

list methods
- append - to add element at the end of the list
- insert - to add an element at the specific position
- pop - to delete an element using the index
- remove - to delete an element using the element name
- copy - to make a copy of list
- clear - to delete all items of the list but not the list
- sort - to arrange the items in a particular order
- extend - to combine two list into one list

In [174]:
apps.append("Power BI")
print(apps)

['Instagram', 'Youtube', 'whatsapp', 'Chatgpt', 'Facebook', 'Canva', 'Music', 'Spotify', 'Play Store', 'Power BI']

In [175]:
apps.insert(2,'Netflix')
print(apps)

['Instagram', 'Youtube', 'Netflix', 'whatsapp', 'Chatgpt', 'Facebook', 'Canva', 'Music', 'Spotify', 'Play Store', 'Power BI']

In [176]:
apps.pop(8)
print(apps)

['Instagram', 'Youtube', 'Netflix', 'whatsapp', 'Chatgpt', 'Facebook', 'Canva', 'Music', 'Play Store', 'Power BI']

In [177]:
apps.remove("Music")
print(apps)

['Instagram', 'Youtube', 'Netflix', 'whatsapp', 'Chatgpt', 'Facebook', 'Canva', 'Play Store', 'Power BI']

In [181]:
a = apps.copy()
print(a)

['Instagram', 'Youtube', 'Netflix', 'whatsapp', 'Chatgpt', 'Facebook', 'Canva', 'Play Store', 'Power BI']

In [182]:
a.clear()
print(a)

[]

In [184]:
apps.sort()
print(apps)

['Canva', 'Chatgpt', 'Facebook', 'Instagram', 'Netflix', 'Play Store', 'Power BI', 'Youtube', 'whatsapp']

In [185]:
anime = ["Aizen", 'Tanjiro', 'Zenitsu']
apps.extend(anime)
print(apps)

['Canva', 'Chatgpt', 'Facebook', 'Instagram', 'Netflix', 'Play Store', 'Power BI', 'Youtube', 'whatsapp', 'Aizen', 'Tanjiro', 'Zenitsu']

In [1]:
a = [2, 4, 6, 7, 8, 9]
total = sum(a)  # âœ… built-in sum function
print(total)

36

In [2]:
a = [2, 4, 6, 7, 8, 9]
print(sum(a))

36

In [3]:
num = [23, 45, 66, 78, 22, 11, 98, 100]
print(max(num))

100

In [4]:
num = [23, 45, 66, 78, 22, 11, 98, 100]
print(min(num))

11


- Swap two elements in a list
- Ways to find length of list
- Ways to check if element exists in list
- Different ways to clear a list
- R-eversing a List
- Find sum of elements in list
- Multiply all numbers in the list
- Find smallest number in a list
- Find largest number in a list
- Find second largest number in a list
- Find N largest elements from a list
- Even numbers in a list
- Odd numbers in a List
- Print all even numbers in a range
- Print all odd numbers in a range
- Print positive numbers in a list
- Print negative numbers in a list
- Print all positive numbers in a range
- Print all negative numbers in a range
- Remove multiple elements from a list
- Remove empty List from List
- Cloning or Copying a list
- Count occurrences of an element in a list
- Remove empty tuples from a list
- Print duplicates from a list of integers
- Find Cumulative sum of a list
- Sum of number digits in List
- Break a list into chunks of size N
- Sort the values of first list using second list

In [6]:
numbers = [23, 45, 66, 78, 22, 11, 98, 100]
largest = numbers[0]
for num in numbers:
    if num > largest:
        largest = num
print(largest)

100

In [ ]:
## Left Rotation
numbers = [1,2,3,4,5,6]
n = 2

rotated = numbers[n:] + numbers[:n]
print("Orginal list: ", numbers)
print("Rotated List: ",rotated)

Orginal list:  [1, 2, 3, 4, 5, 6]
Rotated List:  [3, 4, 5, 6, 1, 2]

In [ ]:
## Right Rotation
numbers = [1,2,3,4,5,6]
n = 2

rotated = numbers[-n:] + numbers[:-n]
print("Orginal list: ", numbers)
print("Rotated List: ",rotated)

Orginal list:  [1, 2, 3, 4, 5, 6]
Rotated List:  [5, 6, 1, 2, 3, 4]

In [10]:
n1 = input("enter a number")
n2 = input("enter a number")
print(n1, n2)
n1 , n2 = n2, n1
print(n1, n2)

5 6
6 5

In [11]:
my_list = [1,2,3,4,5,6,7,8,9]

my_list[0], my_list[-1] = my_list[-1], my_list[0]
print("List after swapping first and last elements:", my_list)

List after swapping first and last elements: [9, 2, 3, 4, 5, 6, 7, 8, 1]

In [12]:
apps = ['Instagram', 'Youtube', 'whatsapp','Chatgpt', 'Facebook', 'Canva', 'Music','Spotify', 'Play Store']
print(len(apps))

9

In [ ]:
my_list = [1,2,3,4,5,6,7,8,9,10,11,1,2,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30]
if 22 in my_list:
    print("Element exists in the list")
else:
        print("Element doesn't exists in the list")

Element exists in the list

In [15]:
my_list = [1,2,3,4,5,6,7,8,9,10,11,1,2,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30]
my_list.reverse()
print(my_list)

[30, 29, 28, 27, 26, 25, 24, 23, 22, 21, 20, 19, 18, 17, 16, 15, 14, 13, 2, 1, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [16]:
a = [2,4,6,8]
res = 1
for val in a:
    res = res*val
print(res)

384

In [19]:
a = [10, 20, 4, 45, 99,67]

a.sort(reverse=True)

print(a[1])

67

In [ ]:
l = [1000, 298, 3579, 100, 200, -45, 900]
n = 4 
l.sort()
print(l[-n:])

[298, 900, 1000, 3579]

In [31]:
a = [1,2,3,4,5,6,7,8, 9, 10, 11, 12]
for val in a:
    if val % 2 == 0:
        print(val, end = " ")

2 4 6 8 10 12

In [32]:
a = [1,2,3,4,5,6,7,8, 9, 10, 11, 12]
for val in a:
    if val % 2 != 0:
        print(val, end = " ")

1 3 5 7 9 11

In [34]:
s = 1
e = 10

for i in range(s, e+1):
    if i%2 == 0:
        print(i, end = " ")

2 4 6 8 10

In [36]:
s = 1
e = 10
for i in range(s, e+1):
    if i % 2 != 0:
        print(i, end = " ")

1 3 5 7 9

In [ ]:
n = [1, 10, -20, -3, 4, 6]
for val in n:
    if val > 0:
        print(val, end = " ")

1 10 4 6

In [41]:
n = [1, 10, -20, -3, 4, 6]
for val in n:
    if val < 0:
        print(val, end = " ")

-20 -3

In [43]:
start = -5
end = 3

for i in range(start, end+1):
    if i > 0:
        print(i)

1
2
3

In [45]:
start = -5
end = 3

for i in range(start, end+1):
    if i < 0:
        print(i, end = " ")

-5 -4 -3 -2 -1

In [48]:
a = [10, 20, 30, 40, 50, 60, 70]
remove = [20, 30, 40]
res = []
for val in a:
    if val not in remove:
        res.append(val)
print(res)

[10, 50, 60, 70]

In [49]:
a = [10, 20, 30, 40, 50, 60, 70]
remove = {20, 40, 60}

a = list(filter(lambda x: x not in remove, a))
print(a)

[10, 30, 50, 70]

In [51]:
a = [[1, 2], [], [3, 4], [], [5]]
res = list(filter(lambda b: b, a))
print(res)

[[1, 2], [3, 4], [5]]

In [60]:
a = [1,2,3,4,5,3,2,6,7,8,8,9]

duplicates = list(set(filter(lambda x: a.count(x) > 1, a)))
print(duplicates)

[8, 2, 3]

In [ ]:
l = [1,2,3,4]

total = 0
cumulative_sum = []

for val in l:
    #  # Add the current number to the running total
    total += val
    # Store the running total in the result list
    cumulative_sum.append(total)
print(cumulative_sum)

[1, 3, 6, 10]

In [65]:
a = [123,456, 789]
res = []

for val in a:
    total = 0
    while val > 0:
        total += val % 10
        val //= 10
    res.append(total)
print(res)

[6, 15, 24]

In [67]:
numbers = [123, 45, 6, 789]

digit_sums = list(map(lambda x: sum(int(d) for d in str(x)), numbers))
print(digit_sums)

[6, 9, 6, 24]

In [ ]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8]
N = 3
Chunks = [numbers[i:i+N] for i in range(0, len(numbers),N)] #numbers[i:i+N] 
#Takes a slice of the list starting at index i and ending at i+N (not inclusive).
print(Chunks)

[[1, 2, 3], [4, 5, 6], [7, 8]]

In [70]:
a = ['a', 'b', 'c', 'd']
b = [3, 1 ,4 ,2]

x = [val for _, val in sorted(zip(b, a))]
print(x)

['b', 'd', 'a', 'c']

In [4]:
n = int(input('Enter a number:'))
temp = n
rev = 0
while (n>0):
    dig = n%10
    rev = rev*10 + dig
    n = n//10
if(temp == rev):
        print(f'{temp} is pallindrome')
else:
        print(f'{temp} is not pallindrome')

131 is pallindrome

In [22]:
m = int(input('Enter a Number:'))
temp = m
sum = 0
while(temp>0):
    dig = temp%10
    sum = sum + dig**3
    temp //= 10
if(m == sum):
    print(f'{m} is Armstrong')
else:
    print(f'{m} is not Armstrong')

153 is Armstrong

In [13]:
rows = 4
num = 1
for i in range(1, rows + 1):
    for j in range(1, i + 1):
        print(num, end = " ")
        num += 1
    print()

1
2 3
4 5 6
7 8 9 10

In [15]:
rows = int(input("Enter a Number:"))
for i in range(1, rows+1):
    for j in range(1, i+1):
        print("*", end = " ")
    print()

*
* *
* * *
* * * *
* * * * *
* * * * * *

In [10]:
rows = int(input("Enter a Number"))
for i in range(rows, 0, -1):
    for j in range(1, i + 1):
        print("*", end= " ")
    print()

* * * * *
* * * *
* * *
* *
*

Diamond Pattern

In [23]:
rows = int(input("Enter a number:"))
for i in range(1, rows + 1):
    for j in range(rows -i):
        print(" ", end = " ")
    for k in range(1, 2 * i):
        print("*", end = " ")
    print()
for i in range(rows, 0 ,-1):
    for j in range(rows - i):
        print(" ", end=" ")
    for k in range(1, 2 * i):
        print("*", end = " ")
    print()

        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *
* * * * * * * * *
  * * * * * * *
    * * * * *
      * * *
        *

In [25]:
rows = int(input("Enter a Number:"))
n = 1
for i in range(1, rows + 1):
    for j in range(1, i ):
        print(" ", end = " ")
    for k in range(1, i+2):
        print("*", end = " ")
    print()

* *
  * * *
    * * * *
      * * * * *

In [ ]:
n = int(input("Enter a Number:"))
if n >= 3 and n % 2 != 0:
    for i in range(1, n+1,2):
        for j in range(n):
            print()

In [36]:
rows = int(input("Enter a Number"))
for i in range(1, rows+1):  # Outer loop for rows
    for j in range(1, rows + 1): # Inner loop for columns
        if i == 1 or i == rows or j == 1 or j == rows:   # Print star only on borders
            print("*", end=" ")
        else:
            print(" ", end=" ") # Print space inside
    print()

* * * * *
*       *
*       *
*       *
* * * * *

In [47]:
rows = int(input("Enter a Number:"))
for i in range(1, rows + 1):
    for j in range(1, i + 1):
        if i == rows or j == 1 or i == j:
            print("*", end=" ")
        else:
            print(" ",end=" ")
    print()

*
* *
*   *
*     *
*       *
* * * * * *